<div class="container">
  <div class="parent-div">
    <input type="text" placeholder="Calculator" [(ngModel)]="inputValue"/>
    <div class="outer-btns">
      <div class="number-btns">
        <button (click)="SendValueToInput('1')">1</button>
        <button (click)="SendValueToInput('2')">2</button>
        <button (click)="SendValueToInput('3')">3</button>
        <button (click)="SendValueToInput('4')">4</button>
        <button (click)="SendValueToInput('5')">5</button>
        <button (click)="SendValueToInput('6')">6</button>
        <button (click)="SendValueToInput('7')">7</button>
        <button (click)="SendValueToInput('8')">8</button>
        <button (click)="SendValueToInput('9')">9</button>
        <button (click)="SendValueToInput('0')">0</button>
        <button (click)="SendValueToInput('00')">00</button>
        <button (click)="SendValueToInput('.')">.</button>
      </div>
      <div class="sign-btns">
        <button (click)="SendValueToInput('+')">+</button>
        <button (click)="SendValueToInput('-')">-</button>
        <button (click)="SendValueToInput('/')">%</button>
        <button (click)="SendValueToInput('*')">X</button>
  
      </div>
    </div>
    <div class="clear-btn">
      <button style=" border-radius: 50%;" (click)="ClearAll()">AC</button>
      <button style=" border-radius: 50%;"  (click)="Back()">CL</button>
      <button class="isEqual-btn" (click)="Calculate()">=</button>
    </div>
  
  </div>
</div>
