
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


input{
    /* border: 2px solid blue; */
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 13%;
    
}

.outer-btns{
    display: flex;
}
.parent-div{
    
     /* border: 2px solid rgb(185, 44, 44);  */
     background-color:#1D212E;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 510px;
    border-radius: 20px;
}

.number-btns{
    margin-left: 20px;

    /* border: 2px solid red; */
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}
.number-btns button{
    border: none;
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 21px;
    background-color: #D4D4D2;

}
.number-btns button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.sign-btns{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    
}

.sign-btns button{
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    background-color: #505050;
    color: white;
    font-weight: 700;
    font-size: 21px;
}
.sign-btns button:hover{
    box-shadow: rgba(218, 209, 209, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.clear-btn{
    /* border: 2px solid purple; */
    display: flex;
    margin-left: 20px;
   
}
.clear-btn button{
    border: none;
    margin: 10px;
    height: 60px;
    width: 60px;
    background-color: #505050;
    color: white;
} 
.clear-btn button:hover{
    box-shadow: rgba(243, 243, 243, 0.4) 0px 30px 90px;
}
.clear-btn .isEqual-btn{
   
    width: 170px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 30px;
    /* border: 1px solid black; */
    background-color: #FF9500
}

.isEqual-btn:hover{
    box-shadow: rgba(241, 194, 91, 0.25) 0px 14px 28px, rgba(228, 182, 30, 0.22) 0px 10px 10px;
}